body {
    height: 125vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('LandingPic.jpg');
    background-size: cover;
    background-position-x: center;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;;
    text-decoration: none;
}

#PageContents {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    min-width: 0;
    
    }

#PageContents div1 {
    background-color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-weight: 900;
    display: inline-flexbox;
    overflow-wrap: break-word;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#PageContents div2 {
    background-color: white;
    padding: 15px;
    margin-left:10px;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: flex;
    max-width: 1000px;
    text-align: center;
    display: inline-flexbox;
    overflow-wrap: break-word;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}